:root {
  --color-primary: #b71c1c;
  --color-primary-opaco: #cd3d1f;
  --color-green: #22c55e;
  --color-background: #fafafaff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  width: 95%;
  max-width: 1200px;
  height: 90vh;
  background: var(--color-background);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
  animation: scaleIn 0.3s ease;
  display: flex;
  flex-direction: column;

  border: 2px solid var(--color-primary);
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: var(--color-primary);
  color: var(--color-background);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}

.modal-close:hover {
  background: var(--color-primary-opaco);
  transform: scale(1.15) rotate(90deg);
}

/* Iframe del rastreador */
.modal-iframe {
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s ease;
  border-radius: 0 0 14px 14px;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsive: en móviles ocupa toda la pantalla */
@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .modal-close {
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    font-size: 18px;
  }
}
